.results {
  &__ctn {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &__count {
    font-size: 1.8rem;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    & button {
      background-color: transparent;
      color: $color-white;
      font-family: $font-main;
      font-size: 1.8rem;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__pages {
    width: 5rem;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem 1rem;
    margin-top: 1rem;
  }

  &__item {
    padding: 1.5rem;
    border: 2px solid $color-yellow;
    border-radius: 1.5rem;
    height: auto;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
  }

  &__name {
    grid-area: 1/1 / span 1 / span 1;
    font-size: 2rem;
    height: 5rem;
  }

  &__info {
    grid-area: 2/1 / -1 / span 1;

    & p {
      font-weight: 300;
    }
  }

  &__avatar {
    grid-area: 1/2 / -1 / -1;
    background-color: rgb(10, 10, 10);
    width: 16rem;
    height: 16rem;
    border-radius: 1rem;
    border: 1px solid $color-grey;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
