*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: $color-black;
  font-family: "Lexend", sans-serif;
}

::-webkit-scrollbar {
  width: 1.2rem;
  background-color: $color-black;
}

::-webkit-scrollbar-thumb {
  border-radius: 100rem;
  border: 0.1rem solid $color-grey;
  width: 1rem;
  background: $color-black;
}

#root {
  color: $color-white;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}
