$font-main: "Lexend", sans-serif;

$color-black: rgb(12, 12, 12);
$color-grey: rgb(75, 74, 72);
$color-white: #fff;
$color-yellow: #ffd728;

$color-parts--brown-mottle: rgb(121, 41, 10);
$color-parts--dark: rgb(70, 42, 25);
$color-parts--fair: rgb(223, 175, 121);
$color-parts--blond: rgb(241, 197, 102);
$color-parts--brown: rgb(71, 50, 41);
$color-parts--blue: rgb(19, 71, 185);
$color-parts--tan: rgb(139, 78, 50);
$color-parts--black: rgb(10, 10, 10);
$color-parts--yellow: rgb(243, 198, 49);
$color-parts--grey: rgb(109, 109, 109);
$color-parts--green: rgb(71, 236, 5);
$color-parts--light: rgb(231, 210, 195);
$color-parts--pale: rgb(250, 225, 214);
$color-parts--gold: rgb(230, 165, 27);
$color-parts--red: rgb(207, 20, 20);
$color-parts--white: #fff;
$color-parts--metal: rgb(207, 207, 207);
$color-parts--green-tan: rgb(29, 92, 10);
$color-parts--orange: rgb(253, 114, 21);
$color-parts--auburn: rgb(78, 29, 22);
$color-parts--mottled-green: rgb(36, 56, 20);
$color-parts--silver: rgb(190, 190, 190);
$color-parts--blonde: rgb(241, 197, 102);
$color-parts--blue-gray: rgb(49, 72, 94);
$color-parts--pink: rgb(240, 47, 159);
$color-parts--hazel: rgb(117, 185, 162);
