.search-bar {
  &__form {
    display: flex;
    justify-content: center;
    align-content: center;

    & * {
      font-size: 1.8rem;
      height: 3.6rem;
      outline: none;
      border: none;
      font-family: $font-main;
    }
  }

  &__selector {
    padding: 0;
    margin: 0;
    padding: 0 0.6rem 0 1.2rem;
    border-top-left-radius: 100rem;
    border-bottom-left-radius: 100rem;
    text-transform: capitalize;
  }

  &__input {
    padding-left: 0.6rem;
    width: min(60vw, 30rem);
  }

  &__btn {
    border: none;
    border-top-right-radius: 100rem;
    border-bottom-right-radius: 100rem;
    padding: 0 0.6rem 0 0.6rem;
    background-color: white;

    &:hover {
      cursor: pointer;
    }
  }
}
