.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 400px) {
    transform: scale(0.9);
    transform-origin: bottom;
  }
  &__head {
    height: 12rem;
    width: 12rem;
    border-radius: 1rem;
    position: relative;
    border: 1px solid $color-grey;
    border-top: none;
  }

  &__hair {
    position: absolute;
    width: inherit;
    border: 1px solid $color-grey;
    border-bottom: none;
    height: 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__eyes {
    display: flex;
    justify-content: center;
    padding-top: 2.2rem;
    gap: 4rem;
    & * {
      border: 2px solid $color-grey;
      height: 5rem;
      width: 0.7rem;
      border-radius: 10rem;
      z-index: 2;
    }
  }

  &__neck {
    width: 4rem;
    height: 1.5rem;
  }

  &__body {
    height: 6rem;
    width: 10rem;

    display: flex;
    flex-direction: column;

    & * {
      width: inherit;
      flex: 1;
    }

    &--top {
      border-top-left-radius: 2.5rem;
      border-top-right-radius: 2.5rem;
    }

    &--mid {
    }

    &--bot {
    }
  }
}
